pipeline/PL10_BULK_FOLDERS.json
{
	"name": "PL10_BULK_FOLDERS",
	"properties": {
		"activities": [
			{
				"name": "Get_CHILD_META",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AZBLOB_SRV_CHILD",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter_CSV",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_CHILD_META",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_CHILD_META').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_JSON",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get_CHILD_META",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			},
			{
				"name": "CSV_Iteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_CSV').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyCSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZBLOB_SRV_CHILD",
									"type": "DatasetReference",
									"parameters": {
										"sourcecsv": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZBLOB_SINK_CSV",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"annotations": []
	}
}