pipeline/PL9_JSON_FLAT.json
{
	"name": "PL9_JSON_FLAT",
	"properties": {
		"activities": [
			{
				"name": "GET_JSON_META",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AZADLS_JSON_VB_RAW",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Filter_JSON",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GET_JSON_META",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET_JSON_META').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.json' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_JSON",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_JSON').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "COPY JSON FLAT CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['_id']"
											},
											"sink": {
												"name": "_id"
											}
										},
										{
											"source": {
												"path": "$['index']"
											},
											"sink": {
												"name": "index"
											}
										},
										{
											"source": {
												"path": "$['guid']"
											},
											"sink": {
												"name": "guid"
											}
										},
										{
											"source": {
												"path": "$['isActive']"
											},
											"sink": {
												"name": "isActive"
											}
										},
										{
											"source": {
												"path": "$['balance']"
											},
											"sink": {
												"name": "balance"
											}
										},
										{
											"source": {
												"path": "$['picture']"
											},
											"sink": {
												"name": "picture"
											}
										},
										{
											"source": {
												"path": "$['age']"
											},
											"sink": {
												"name": "age"
											}
										},
										{
											"source": {
												"path": "$['eyeColor']"
											},
											"sink": {
												"name": "eyeColor"
											}
										},
										{
											"source": {
												"path": "$['name']"
											},
											"sink": {
												"name": "name"
											}
										},
										{
											"source": {
												"path": "$['gender']"
											},
											"sink": {
												"name": "gender"
											}
										},
										{
											"source": {
												"path": "$['company']"
											},
											"sink": {
												"name": "company"
											}
										},
										{
											"source": {
												"path": "$['email']"
											},
											"sink": {
												"name": "email"
											}
										},
										{
											"source": {
												"path": "$['phone']"
											},
											"sink": {
												"name": "phone"
											}
										},
										{
											"source": {
												"path": "$['address']"
											},
											"sink": {
												"name": "address"
											}
										},
										{
											"source": {
												"path": "$['about']"
											},
											"sink": {
												"name": "about"
											}
										},
										{
											"source": {
												"path": "$['registered']"
											},
											"sink": {
												"name": "registered"
											}
										},
										{
											"source": {
												"path": "$['latitude']"
											},
											"sink": {
												"name": "latitude"
											}
										},
										{
											"source": {
												"path": "$['longitude']"
											},
											"sink": {
												"name": "longitude"
											}
										},
										{
											"source": {
												"path": "$['tags'][0]"
											},
											"sink": {
												"name": "items"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "friends'][0]['name"
											}
										},
										{
											"source": {
												"path": "$['greeting']"
											},
											"sink": {
												"name": "greeting"
											}
										},
										{
											"source": {
												"path": "$['favoriteFruit']"
											},
											"sink": {
												"name": "favoriteFruit"
											}
										}
									],
									"collectionReference": "$['friends']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DS_AZADLS_JSON_VB_RAW",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AZBLOB_JSON_FLAT_CSV_SINK",
									"type": "DatasetReference",
									"parameters": {
										"sinkfile": {
											"value": "@concat(replace(item().name,'.json',''),'_',formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"annotations": []
	}
}